body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow-x: hidden;
}
.header {
    background-color: rgba(0,0,0,0.7);
    z-index: 9998;
}
.header .menu-button {
    background-image: url("../img/menu.png");
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    position: relative;
    top: 25px;
    left: 35px;
    z-index: 9999;
}
.header a {
    color: white;
    font-weight: 600;
    padding: 3vh;
}
.header .nav-1 {
    display: block;
}
.header .nav-2 {
    display: none;
}

@media (max-width: 576px) {
    .menu-button {
        display: block;
    }
    .small-menu {
        display: block;
    }
    .big-menu {
        display: none;
    }
    .section-1-1 {
        background-image: url("../img/header-bg-2x.png");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        height: 35vh;
    }
    .section-1-2 {
        background-image: url("../img/logo.png");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
        height: inherit;
    }
}
@media (min-width: 576px) {
    .menu-button {
        display: block;
    }
    .small-menu {
        display: block;
    }
    .big-menu {
        display: none;
    }
    .section-1-1 {
        background-image: url("../img/header-bg-2x.png");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        height: 90vh;
    }
    .section-1-2 {
        background-image: url("../img/logo.png");
        background-repeat: no-repeat;
        background-position: center 30px;
        background-size: contain;
        height: inherit;
    }
}
@media (min-width: 768px) {
    .menu-button {
        float: left;
        display: block;
    }
    .small-menu {
        display: block;
    }
    .big-menu {
        display: none;
    }
    .section-1-1 {
        background-image: url("../img/header-bg-2x.png");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        height: 45vh;
    }
    .section-1-2 {
        background-image: url("../img/logo.png");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
        height: inherit;
    }
}
@media (min-width: 992px) {
    .menu-button {
        display: none;
    }
    .small-menu {
        display: none;
    }
    .big-menu {
        display: block;
    }
    .section-1-1 {
        background-image: url("../img/header-bg-2x.png");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        height: 65vh;
    }
    .section-1-2 {
        background-image: url("../img/logo.png");
        background-repeat: no-repeat;
        background-position: center 10vh;
        background-size: contain;
        height: inherit;
    }
}
@media (min-width: 1200px) {}

.section-2 {
    padding: 5vh;
}

.advertisment {
    background-image: url("../img/ad.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 600px;
    position: sticky;
    top: 10vh;
}

.section-3-1 {
    height: 30vh;
}
.section-3-2 {
    background-image: url("../img/kiloren-2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: inherit;
}
.section-4 {
    padding: 5vh;
}
.section-4 div div p{
    padding-left: 330px;
}

.section-5-1 {
    height: 30vh;
}
.section-5-2 {
    background-image: url("../img/stormtroopers-2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: inherit;
}

.section-6 {
    background-image: url("../img/darthvader_2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 40vh;
}
.section-6 header div {
    margin: 20px;
}
.section-6 header div h4 {
    font-size: 14px;
    color: grey;
}

.section-6 div nav h4 {
    font-size: 18px;
    color: grey;
}
.section-6 header div h4 b {
    color: white;
}
.section-6 a {
    text-decoration: underline;
    color: grey;
}
